<h1><a href="<%= @post.url || post_url(@post) %>"><%= @post.title %></a></h1>
<p><em>by:</em><%= @post.author.username %> </p>
<% unless @post.content.nil? %>
<p><%= @post.content %></p>
<% end %>
<%= render "newcomment", post: @post %>
<% unless @post.comments.empty? %>
  <% @post.comments.each do |comment| %>
    <%= render "comment", comment: comment %>
  <% end %>
<% end %>
